.ControlUnit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.ControlUnit button{
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    border: 1px solid #aa6817;
    cursor: pointer;
    outline: none;
}

.ControlUnit button:disabled {
    background-color: #AC9980;
    border: 1px solid #7E7365;
    color: #ccc;
    cursor: default;
}

.ControlUnit button:hover:disabled {
    background-color: #AC9980;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.ControlUnit .Less {
    background-color: #D39952;
    color: white;
}

.ControlUnit .More {
    background-color: #8F5E1E;
    color: white;
}

.ControlUnit .Less:hover, .ControlUnit .Less:active {
    background-color: #DAA972;
    color: white;
}

.ControlUnit .More:hover,.ControlUnit .More:active {
    background-color: #99703F;
    color: white;
}